.logement-container {
    max-width: 85%;
    margin: 0 auto;
    .logement-details {
        // & > * {
        //     border: 1px solid red;
        // }
        display: flex;
        justify-content: space-between;
        @media (max-width: 767.98px) {
            flex-direction: column;
        }
        .logement-header {
            // vertical
            .logement-title {
                font-size: 36px;
                font-weight: 500;
                line-height: 50px;
                color: $color-primary;
                @media (max-width: 767.98px) {
                    font-size: 18px;
                    line-height: 25px;
                }
            }

            .logement-location {
                font-size: 14px;
                font-weight: 500;
                line-height: 25px;
                color: $color-black;
                margin-bottom: 25px;
                @media (max-width: 767.98px) {
                    font-size: 14px;
                    line-height: 20px;
                    margin-bottom: 13px;
                }
            }
        }
        .logement-host-rating {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 165px;
            @media (max-width: 767.98px) {
                width: 100%;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
                margin-block: 12px;
            }
        }
    }

    .logement-description-equipements {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-block: 45px;
        @media (max-width: 767.98px) {
            flex-direction: column;
            margin-block: 12px;
        }
    }
}
