.navbar {
    // border: 1px solid red;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 500;
    white-space: nowrap;
    max-width: auto;
    margin-inline: auto;
}
.navbar > *:first-child { // enfants directs de Navbar
    margin-right: auto;    
}
.navbar a {
    text-decoration: none;
    color: $navbar-text-color;
}
.navbar a:hover {
    text-decoration: none;
}
.navbar a:visited {
    text-decoration: none;
}
.navbar a.active {
    color: $navbar-text-color;
    text-decoration: underline;
}
@media (max-width: 767.98px) {
    .navbar {
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
    }
    .navbar img {
        height: 100%;
    }
}
